<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="about.html">A propos</a></li>
            <li><a href="contact.html">Nous contacter</a></li>
            <li><a href="term.html">Terms</a></li>
          </ul>
        </div>
        <p>Copyright &copy; 2011-2020 - Site crée par <span>Barbara Cano</span> .</p>
      </div>
    </div>
  </div>
</footer>  
<!-- footer Closed -->